Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
.deps
.dirstamp
.libs
*.o
*.a
*.la
*.lo
*.gcov
*.gcno
*.gcda
*.test
tags
stamp-h1
tests/check_*
config.guess
config.sub
ltmain.sh
libtool
*~
